<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="h
<servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>controller.ProductAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>categoryController</servlet-name>
        <servlet-class>controller.categoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>categoryController</servlet-name>
        <url-pattern>/categoryController</url-pattern>
    </servlet-mapping>
    <session-config>
    <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>